@import "tailwindcss";

@theme {
  --color-primary: var(--color-sky-500);
  --color-secondary: var(--color-emerald-600);
  --color-success: var(--color-green-700);
  --color-success-light: var(--color-green-300);
  --color-error: var(--color-red-500);
  --color-error-light: var(--color-red-100);
  --color-pending: var(--color-yellow-500);
  --color-pending-light: var(--color-yellow-100);
  --color-refund: var(--color-orange-400);
  --color-refund-light: var(--color-orange-300);
}